@font-face {
      font-family: 'Open Sans';
      font-weight: 400;
      src: url(../font/opensans400.ttf) format('truetype');
}

@font-face {
      font-family: 'Open Sans';
      font-weight: 300;
      src: url(../font/opensans300.ttf) format('truetype');
}
